/* Start of Responsiveness */

@media only screen and (max-width: 1500px) {
  /* Start of Contact Page */

  /* .hours {
    margin: 0 534px;
  } */

  /* End of Contact Page */
}

@media only screen and (max-width: 1200px) {

  html { scroll-behavior: smooth; }

  /* Start of Home Page */

  .logo { width: 15%; }

  .container { max-width: 1140px; }

  .card { max-width: 1140px; }

  .lungs {
    border-radius: 5px;
    margin-top: 0;
    margin: auto;
    width: 50%;
    position: relative;
    top: 40px;
  }

  .side {
    padding: 0;
    float: none;
  }

  .cd-section {
    height: 332px;
    margin-bottom: 200px;
  }

  .service-grid {
    margin-top: 200px;
    margin-left: var(--size-10);
    margin-right: var(--size-10);
    position: relative;
    top: -76px;
  }

  .cd-section {
    background-size: cover;
    height: 760px;
    background-image: url("../img/salt-rock.jpeg");
  }

  /* End of Home Page */

  /* Start of Contact Page */
  .header { min-height: var(--size-50); }

  /* End of Contact Page */

  /* Start of Footer */

  .footer {
    position: relative;
    bottom: 0;
    left: 0;
  }

  .footer-container { margin-left: var(--size-50); }

  /* End of Footer */
}

@media only screen and (max-width: 768px) {

  html { scroll-behavior: smooth; }

  /* Start of Home Page */
  
  .logo { width: 15%; }
  
  .lungs {
    border-radius: 5px;
    margin-top: 0;
    margin: auto;
  }

  .side {
    padding: 0;
    float: none;
  }

  .p1 {
    font-size: var(--size-16);
    text-align: center;
  }

  /* .pricing {
    display: flex;
    position: relative;
    top: 38px;
    margin: var(--size-100);
    text-align: center;
  }

  .pricing-list {
    width: 50%;
  } */

  /* .cd-section { height: 380px; } */

  /* .service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    gap: var(--size-20);
    margin-top: var(--size-100);
  } */

  /*.pricing-table { max-width: 720px; }*/

  /* End of Home Page */

  /* Start of Contact Page */
  .indicates-required {
    text-align: right;
    font-size: 11px;
    margin-right: 4%;
  }

  /* .hours {
    margin: 0 278px;
  } */

  /* End of Contact Page */
}

@media only screen and (max-width: 599px) {
  /* Start of Navbar */

  .navbar-nav {
    padding-left: inherit !important;
    padding-right: inherit !important;
  }

  .nav-home { width: 83px; }

  .nav-info { width: 66px; }

  .nav-book {
    width: 71px;
    right: 4px;
  }

  .nav-contact { width: 95px; }

  .nav-faq { width: 68px; }



  /* End of Navbar */

  /* Start of Home Page */
  .lungs { width: 90%; }

  .pricing {
    margin: 50px 30px;
    /*margin-bottom: 50px;*/
  }

  .pricing-list {
    width: 94%;
    margin-bottom: 260px;
  }

  .price-sheets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    gap: 10px;
    margin-bottom: 250px;
  }

  .pricing-list1, .pricing-list2, .pricing-list3, .pricing-list4, .pricing-list5 {
    width: 90%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .pricing-list1 { right: 0; }
  .pricing-list3 { left: 0; }

  .cd-section { height: 1125px; }

  .service-grid { gap: 0; }

  .card { width: 250px; }

  .footer-container { margin: auto; }

  /* End of Home Page */

  /* Start of Book Page */

    .asterisk { white-space: inherit; }

  /* End og Book Page */

  /* Start of Contact Page */

  h5 { font-size: 1.0rem !important; }

  .header-3 { font-size: var(--size-25); }

  .relief {
    display: flex;
    text-align: left;
    justify-content: center;
  }

  /* End of Contact Page */

  /* Start of FAQ Page */
  .accordion { width: 92.9%; }

  .plus:after {
    position: relative;
    bottom: 14px;
  }

  .plus2:after { bottom: 14px; }

  .panel { width: 92.9%; }



  /* End of FAQ Page */
}

@media only screen and (max-width: 390px) {
  /* Start of Navbar */
  .nav-home, .nav-info, .nav-book, .nav-contact, .nav-faq {
    font-size: 14px;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .nav-home {
    right: 46px;
    width: 57px;
  }

  .nav-book {
    right: 14px;
    width: 47px;
  }

  .nav-contact {
    left: 18px;
    width: 69px;
  }

  .nav-faq {
    left: 50px;
    width: 44px;
  }


  /* End of Navbar */

  /* Start of Home Page */

  .cd-section { height: 1125px; }



  /* End of Home Page */

  /* Start of Contact Page */

  /* .hours {
    margin: 0 94px;
  } */


  /* End of Contact Page */

  /* Start of FAQ Page */
  .accordion { width: 92%; }

  .panel { width: 92%; }


  /* End of FAQ Page */
}

@media only screen and (max-width: 375px) {
  

  /* Start of Contact Page */

  /* .hours {
    margin: 0 70px;
  } */

  /* End of Contact Page */
}
/* End of Responsiveness