/* Start of Responsiveness */

@media only screen and (min-width: 375px) {

  html { scroll-behavior: smooth; }

  /* Start of Navbar */
  .navbar-nav, .nav-link {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .navbar-nav, .ml-auto {
    display: flex !important;
    flex-direction: initial !important;
    margin-top: 10px !important;
  }

  /* End of Navbar */
  
  /* Start of Home Page */
  .lungs {
    display: flex;
    width: 90%;
    margin-top: 0;
    margin-bottom: var(--size-20);
    border-radius: 5px;
    justify-content: center;
    float: none;
  }

  .side {
    padding: 0;
    float: right;
  }

  .p1 {
    margin-right: 12px;
    margin-left: 30px;
  }

  .cd-section {
    margin-bottom: 200px;
    height: 780px;
  }

  /* End of Home Page */

  /* Start of Info Page */
  .indent {
    text-align: center;
  }

  /* End of Info Page */

  /* Start of Book Now Page */
  .book {
    text-align: center;
  }
  
  /* End of Book Now Page */

  /* Start of Contact Page */
  .hr {
    margin-top: 1rem;
  }

  .contact {
    margin-left: var(--size-20);
    margin-right: 5px;
  }

  .hours {
    justify-content: center;
    font-weight: bold;
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
  }

  /* End of Contact Page */

  /* Start of Footer */
  .footer-container {
    margin-left: 5px;
}

  .pay {
    margin-left: 35px;
    margin-right: var(--size-20);
    justify-content: center;
  }

  .dev-section {
    margin-left: var(--size-20);
    margin-right: var(--size-20);
    justify-content: center;
  }

  /* End of Footer */
}

@media only screen and (min-width: 414px) {
  /* Start of Navbar */
  .navbar-nav, .nav-link {
    padding-left: 14px !important;
    padding-right: 12px !important;
  }

  .navbar-nav, .ml-auto {
    display: flex !important;
    flex-direction: initial !important;
    margin-top: 10px !important;
  }
  /* End of Navbar */

  .header {
    margin-bottom: var(--size-20);
  }

  .join {
    text-align: center;
    margin-bottom: 30px !important;
  }

  .p1 {
    font-size: var(--size-16);
    text-align: center;
    /* margin-top: var(--size-20); */
  }

  .service-grid, .container {
    margin-top: 25px;
  }

  .cd-section {
    /* margin-bottom: 200px; */
    background-size: cover;
    height: 800px;
    background-image: url("../img/salt-rock.jpeg");
  }

  /* Start of Contact Page */
  .indicates-required {
    text-align: right;
    font-size: 11px;
    margin-right: 5px !important;
    float: right;
  }

  .mc-field-group {
    margin: var(--size-20);
    padding-bottom: 0 !important;
    width: 95% !important;
  }

  .clear {
    margin-left: var(--size-20);
    margin-top: var(--size-10);
  }

  /* End of Contact Page */
}

@media screen and (max-width: 414px) {

  html { scroll-behavior: smooth; }

  /* Start of Home Page */
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* margin-bottom: -35px */
  }

  .h1 {
    padding: 5%;
    /* margin-top: var(--size-20); */
  }

  .signup {
    padding: 5%;
  }

  [aria-controls="menu-list"] {
    display: block;
    margin-bottom: var(--size-10);
  }

  [aria-expanded="true"] ~ ul {
    display: grid;
    max-height: 500px;
    transform: rotateX(0);
  }

  [aria-expanded="false"] .close {
    display: none;
  }

  [aria-expanded="true"] .close {
    display: inline-block;
  }

  [aria-expanded="true"] .open {
    display: none;
  }
  
  .navbar-brand {
    display: flex;
    margin: auto;
  }

  .navbar-nav {
    float: right;
  }

  .navbar-toggler {
    float: left;
  }

  .menu {
    order: -1;
    padding: 5px;
  }

  .menu ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, fr));
    list-style: none;
    grid-gap: var(--size-10);
    padding-left: var(--size-50);
    padding-right: var(--size-50);
    padding-bottom: 0%;
    margin-top: 15px;
    overflow: hidden;
    display: none;
  }

  #menu-list {
    font-size: 80%;
  }

  [aria-controls="menu-list"] {
    display: block;
    margin-bottom: var(--size-10);
  }

  [aria-expanded="true"] ~ ul {
    display: grid;
    max-height: 500px;
    transform: rotateX(0);
  }

  [aria-expanded="false"] .close {
    display: none;
  }

  [aria-expanded="true"] .close {
    display: inline-block;
  }

  [aria-expanded="true"] .open {
    display: none;
  }

  .lungs {
    display: flex;
    width: 90%;
    margin-top: 0;
    margin-bottom: var(--size-20);
    border-radius: 5px;
    justify-content: center;
    float: none;
  }

  .p1 {
    font-size: var(--size-16);
    text-align: center;
    margin-top: var(--size-20);
  }

  .side {
    line-height: 0.6em;
    float: right;
  }

  .book {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 15px;
    padding-left: 0;
  }

  .price {
    display: flex;
    padding: var(--size-20);
    justify-content: center;
  }

  .card {
    max-width: 732px;
  }

  /* .cd-section {
    background-size: cover;
    height: 535px;
    background-image: url(../img/salt-rock.jpeg);
  } */

  .service-grid {
    margin-top: var(--size-100);
    margin-left: var(--size-10);
    margin-right: var(--size-10);
    gap: var(--size-40);
  }

  h5 {
    font-size: medium !important;
  }

  /* End of Home Page */

  /* Start of Info Page */
  .indent {
    text-align: center;
  }

  /* End of Info Page */

  /* Start of Contact Page */
  .join {
    text-align: center;
  }

  /* End of Contact Page */

  /* Start of Footer */
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
  }

  .footer-container {
    margin-left: var(--size-10);
  }

  /* End of Footer */

}

@media screen and (min-width: 768px) {
  /* Start of Home Page */
  
  .lungs {
    border-radius: 5px;
    margin-top: 0;
    margin-left: 48px;
    width: 50%;
    float: left;
  }

  .side {
    padding: 0;
    float: none;
  }

  .p1 {
    font-size: var(--size-16);
    text-align: center;
    /* margin-top: var(--size-20); */
  }

  .cd-section {
    /* margin-bottom: 200px; */
    background-size: cover;
    height: 535px;
    background-image: url(../img/salt-rock.jpeg);
  }

  .service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    gap: var(--size-20);
    margin-top: var(--size-100);
  }

  /* End of Home Page */

  /* Start of Contact Page */
  .indicates-required {
    text-align: right;
    font-size: 11px;
    margin-right: 4%;
  }

  /* End of Contact Page */
}

@media screen and (min-width: 849px) {
  .service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(271px, 1fr));
    gap: var(--size-20);
    margin-top: var(--size-100);
  }
}

@media screen and (min-width: 1024px) {
  .cd-section {
    /* margin-bottom: 200px; */
    background-size: cover;
    height: 350px;
    background-image: url(../img/salt-rock.jpeg);
  }

  .service-grid .container {
    margin-top: 65px;
  }
}

@media screen and (min-width: 1200px) {

  /* Start of Home Page */
  .container {
    max-width: 1140px;
    margin-top: 155px;
  }

  .card {
    max-width: 1140px;
  }

  .lungs {
    border-radius: 5px;
    margin-top: 0;
    margin-left: 48px;
    width: 50%;
    float: left;
  }

  .side {
    padding: 0;
    float: none;
  }

  .cd-section {
    /* height: 500px; */
    margin-bottom: 200px;
  }

  .service-grid {
    margin-top: 200px;
    margin-left: var(--size-10);
    margin-right: var(--size-10);
  }

  /* End of Home Page */

  /* Start of Contact Page */
  .header {
    min-height: var(--size-50);
  }
  
  .hours {
    margin: 0;
  }

  /* End of Contact Page */

  /* Start of Footer */

  .footer {
    position: relative;
    bottom: 0;
    left: 0;
  }

  .footer-container {
    margin-left: var(--size-50);
  }

  /* End of Footer */
}

/* End of Responsiveness