/* Style the navigation bar links */

.navbar {
  background-color: rgba(0, 0, 0, 0) !important;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition: ease-in-out;
}

.navbar-dark {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: #ffffff !important;
}

.navbar-collapse, .navbar-nav, .nav-item {
  color: inherit !important;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-size: var(--size-20);
  line-height: inherit;
  white-space: nowrap;
  color: black;
  text-decoration: none;
  margin: auto !important;
}

.navbar-nav, .nav-link {
  padding-left: 10px !important;
  padding-right: 10px !important;
  flex-direction: inherit !important;
  justify-content: center;
}

#bg-light {
  background-color: none !important;
}

.nb-logo {
  height: 70px;
}

.nav-home {
  position: relative;
  right: 15px;
}

.nav-info {
  position: relative;
  right: 10px;
}

.nav-book {
  position: relative;
  /*left: 5px;*/
}

.nav-contact {
  position: relative;
  left: 10px;
}

.nav-faq {
  position: relative;
  left: 20px;
}

.icons1 {
  position: relative;
  right: 6px;
  bottom: 2px;
  color: white;
  width: 18px;
  height: 20px;
}

.icons2 {
  position: relative;
  right: 6px;
  bottom: 2px;
  width: 14px;
}

.icons3 {
  position: relative;
  right: 6px;
  width: 17px;
}

.icons4 {
  position: relative;
  right: 6px;
  bottom: 1px;
  width: 17px;
}

/* End of Navbar */

/* Start of Home Page */
.header {
  text-align: center;
  background-color: #8DC7C1;
  font-size: var(--size-30);
  position: relative;
  top: 44px;
}

.logo {
  display: flex;
  width: 15%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.hr {
  position: relative;
  top: 44px;
	width: 95%;
	border: 1px solid;
	margin-bottom: var(--size-30);
}

.price {
  display: flex;
  padding: var(--size-20);
  justify-content: center;
}
  
/* Column container */
.row {  
  display: flex;
    /* flex-wrap: wrap; */
  text-align: center;
  margin: auto;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.side {
  flex: 30%;
  padding: var(--size-10);
}
  
/* Main column */
.main {
  flex: 70%;
  background-color: #8DC7C1;
  margin: auto;
}
  
/* Image, for homepage */
.lungs {
  display: flex;
  position: relative;
  top: 50px;
  width: 50%;
  margin: auto;
  border-radius: 5px;
}

.side {
  display: flex;
  font-size: 36px;
  padding-top: 0;
}

.p1 {
  color: var(--font-color-dark);
	font-size: var(--size-18);
	line-height: 2em;
  margin-left: var(--size-30);
  margin-right: var(--size-30);
  margin-top: 0;
  padding-top: 0;
  position: relative;
  top: 20px;
}

/* Start of Pricing */

.pricing {
  display: flex;
  position: relative;
  top: 70px;
  margin: 45px 100px;
  margin-bottom: var(--size-50);
  text-align: center;
  font-size: var(--size-18);
}

.pricing-list {
  display: flex;
  position: relative;
  top: 60px;
  width: 50%;
  margin: auto;
  margin-bottom: 260px;
}

/* End of Pricing */

/* Start of Frosted Cards */
.cd-section {
  background-size: cover;
  height: 332px;
  background-image: url(../img/salt-rock.jpeg);
  margin-bottom: 200px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: var(--size-20);
  margin-top: var(--size-100);
  position: relative;
  top: 56px;
}

.container {
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.card {
  position: relative;
  width: 300px;
  height: 220px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: var(--size-25) !important;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
  border: 1px solid rgba(0,0,0,.125);
}

.card:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.25);
}

.card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

.card .content {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--size-25);
  font-size: var(--size-30);
}

.card .content .avatar {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
}

.card .content .avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .content .details {
  display: flex;
  flex-direction: column;
  gap: var(--size-10);
  color: #111;
}

.card .content .details div {
  display:  flex;
  align-items: center;
  gap: var(--size-10);
}

.card .content .details h3 {
  font-weight: 600;
}

.card .content .details ion-icon {
  font-size: 1.5em;
}

#more-info {
  text-decoration: none;
  color: black;
}

/* End of Frosted Cards */

/* End of Home Page */

/* Start of Info Page */
.info-section {
  margin-bottom: var(--size-150);
}

.more-info {
  min-height: 75px;
  font-size: var(--size-30);
  text-align: center;
  padding-top: 20px;
}

.info {
  margin: 0 25px;
}

.relief {
  display: flex;
  columns: 0 2;
  justify-content: center;
  text-align: left;
}

/* End of Info Page */

/* Start of Book Page */
.book-section {
  margin-bottom: 310px;
}

.book {
  display: flex;
  justify-content: center;
  padding-top: var(--size-40);
  margin-bottom: 0;
}

.book_now:hover {
  color: white;
  text-decoration: none;
}

.book_now {
  display: flex;
  justify-content: center;
  background-color: #204068;
  border: none;
  color: white;
  height: var(--size-40);
  text-transform: uppercase;
  font-family: Georgia, serif;
  letter-spacing: 1px;
  line-height: 38px;
  padding: 0 28px;
  border-radius: 8px;
  font-weight: 500;
  font-size: var(--size-14);
  cursor: pointer;
  display: inline-block;
	text-decoration: none;
	box-shadow: 0 8px 8px -4px #2F609D;
  transition: 1s;
}

.book_now:hover {
  transform: scale(1.1);
  text-decoration: none;
}

.booknow {
  cursor: pointer;
  transition: 1s;
}

.glass_button {
  display: flex;
  justify-content: center;
  border: none;
  color: white;
  height: var(--size-100);
  letter-spacing: 1px;
  line-height: 38px;
  padding: 0 28px;
  border-radius: 8px;
  font-weight: 500;
  font-size: var(--size-14);
  cursor: pointer;
  display: inline-block;
	text-decoration: none;
  transition: 1s;
}

.booknow:hover {
  transform: scale(1.1);
}

.booknow::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

.bk-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 2.5rem;
}

/* End of Book Page */

/* Start of Contact Page */
.hr {
  margin-top: 2rem;
}

.header-2 {
  text-align: center;
  background-color: #8DC7C1;
  font-size: var(--size-30);padding-top: 20px;
}

.header-3 {
  text-align: center;
  background-color: #8DC7C1;
  font-size: var(--size-30);
}

.contact-section {
  margin-bottom: var(--size-150);
}

.contact {
  justify-content: center;
  text-align: center;
  position: relative;
  top: 14px;
}

.hours {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

/* End of Contact Page */

/* Start of FAQ Page */
.commonly-asked {
  display: flex;
  justify-content: center;
  margin: 0 25px;
}

.faqs {
  position: relative;
  top: 30px;
}

.accordion {
  background-color: #C5C5C5;
  color: #000000;
  cursor: pointer;
  position: relative;
  left: 15px;
  margin-bottom: 5px;
  padding: 18px;
  width: 45%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #000000;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 45%;
  position: relative;
  left: 15px;
  bottom: 6px;
}

.p-pad {
  padding-top: 10px;
}

.faq-cabin, .faq-products {
  padding-left: 15px;
  text-decoration: underline;
}

.products {
  position: relative;
  top: 40px;
}

.footnote {
  position: relative;
  top: 100px;
  padding: 20px;
}

/* End of FAQ Page */
  
/* Start of Footer */
.footer {
  justify-content: center;
  display: flex;
	position: relative;
  width: 100%;
  padding: var(--size-20);
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  background-color: #ddd;
  bottom: -13%;
  margin: 0;
  left: 0;
}

.dev-section {
  margin-top: var(--size-20);
}

.developer {
  text-decoration: none;
  color: #C95F1C;
}

.link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.pay {
  margin-top: var(--size-25);
}

.payment {
  height: var(--size-40);
  width: var(--size-40);
}

.payment2 {
  width: 50px;
  height: 50px;
}

.checks {
  width: 45px;
  height: 45px;
  position: relative;
  bottom: 2px;
}

.ccard {
  height: 48px;
  width: 47px;
}

.discover {
  position: relative;
  height: 42px;
  width: 40px;
  left: 4px;
}

.gpay {
  position: relative;
  left: 3px;
}

.cash-app {
  height: 48px;
  width: 47px;
}

.arrow {
  width: 70%;
}

#scrollUp {
  background-color: transparent;
  background-image: linear-gradient(
    90deg, #9ccdfe 0%, #94aafd 100%);
  color: white;
  font-size: var(--size-20);
  height: var(--size-30);
  width: var(--size-30);
  line-height: var(--size-30);
  position: fixed;
  bottom: 18px;
  right: var(--size-30);
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  z-index: 100;
}

/* End of Footer */



/* Start of Working Footer being added */

/* footer.bg-footer { background-color: var(--footer); }

footer .footer-bottom { background-color: var(--footer-base); }

footer .footer-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--size-50);
  padding: var(--size-100) 0;
}

footer .footer-col { 
  justify-self: center; 
  max-width: 250px;
}

.footer-top h5 {
  color: var(--white);
  font-weight: 500;
  margin-bottom: var(--size-16);
  font-size: var(--size-16);
}

.contact-info li {
  color: var(--white);
  margin-bottom: var(--size-10);
}

.contact-info li i {
  padding-right: var(--size-10);
}

.social-icons ul li {
  display: inline-block;
  width: 20px;
  height: 30px;
  margin: 13px;
}

.icons {
  width: 30px;
  height: 30px;
  padding-right: var(--size-10);
}

.services-wrapper p { 
  color: #858497;
  line-height: var(--size-20);
 }

.services-wrapper h5 { margin-bottom: 5px; }

.recent-posts {
  display: flex;
  margin-bottom: var(--size-16);
}

.recent-posts .post-img-wrapper {
  width: var(--size-100);
  margin-right: var(--size-10);
}

.post-inner h6 { 
  margin: 0;
  line-height: var(--size-20);
}

.post-inner h6 a {
  color: var(--white);
  font-weight: 600;
  margin-right: -9.375rem;
  font-size: 0.75rem;
  line-height: var(--size-16);
}

.post-inner span {
  color: var(--font-color-light);
  font-size: var(--size-10);
}

.footer-bottom {
  padding: var(--size-16) 0;
}

.footer-bottom-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;

}

.copyright { margin-top: 6px; }

.copyright p { 
  color: var(--font-color-light); 
}

.footer-bottom-links {
  margin-top: var(--size-10);
}

.footer-bottom-links ul li {
  display: inline-block;
  margin-right: var(--size-10);
  color: var(--white);
}

.footer-bottom-links ul li a { color: var(--white); }

.email {
  
} */

/* End of Working Footer being added */




