/* Style the navigation bar links */

.navbar {
  background-color: rgba(0, 0, 0, 0) !important;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-function: ease-in-out;
}

.navbar-dark {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: #ffffff !important;
}

.navbar-collapse, .navbar-nav, .nav-item {
  color: inherit !important;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-size: var(--size-20);
  line-height: inherit;
  white-space: nowrap;
  color: black;
  text-decoration: none;
  margin: auto !important;
}

.navbar-nav, .nav-link {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

#bg-light {
  background-color: none !important;
}

.nb-logo {
  height: 70px;
}

/* Start of Home Page */
.header {
  text-align: center;
  background-color: #8DC7C1;
  font-size: var(--size-30);
}

.logo {
  display: flex;
  width: 15%;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* margin-bottom: -35px */
}

.hr {
	width: 95%;
	border: 1px solid;
	margin-bottom: var(--size-30);
}

.price {
  display: flex;
  padding: var(--size-20);
  justify-content: center;
}
  
/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
  margin-right: 0 !important;
}

.side {
  flex: 30%;
  padding: var(--size-10);
}
  
/* Main column */
.main {
  flex: 70%;
  background-color: #8DC7C1;
  margin: auto;
}
  
/* Image, for homepage */
.lungs {
  display: flex;
	float: left;
  width: 50%;
  margin: auto;
	margin-top: 0;
  border-radius: 5px;
  margin-left: 29px;
}

.side {
  display: flex;
  font-size: 36px;
  padding-top: 0;
}

.p1 {
  color: var(--font-color-dark);
	font-size: var(--size-20);
	line-height: 2em;
  margin-left: var(--size-30);
  margin-right: var(--size-30);
  margin-top: 0;
  padding-top: 0;
}

/* Start of Frosted Cards */
.cd-section {
  margin-bottom: 400px;
  /* background-image: url("../img/salt-rock.jpeg");
  height: 500px;
  background-size: cover; */
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: var(--size-20);
  margin-top: var(--size-100);
}

.container {
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.card {
  position: relative;
  width: 300px;
  height: 220px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: var(--size-25) !important;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
  border: 1px solid rgba(0,0,0,.125);
}

.card:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.25);
}

.card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

.card .content {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--size-25);
  font-size: var(--size-30);
}

.card .content .avatar {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
}

.card .content .avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .content .details {
  display: flex;
  flex-direction: column;
  gap: var(--size-10);
  color: #111;
}

.card .content .details div {
  display:  flex;
  align-items: center;
  gap: var(--size-10);
}

.card .content .details h3 {
  font-weight: 600;
}

.card .content .details ion-icon {
  font-size: 1.5em;
}

#more-info {
  text-decoration: none;
  color: black;
}

/* End of Frosted Cards */

/* End of Home Page */

/* Start of Info Page */
.info-section {
  margin-bottom: var(--size-150);
}

.more-info {
  min-height: 75px;
  font-size: var(--size-30);
  text-align: center;
}

.info {
  margin-left: 35px;
  margin-right: var(--size-25);
}

/* End of Info Page */

/* Start of Book Page */
.book-section {
  margin-bottom: 310px;
}

.book {
  display: flex;
  justify-content: center;
  padding-top: var(--size-40);
  padding-left: var(--size-20);
  margin-bottom: 0;
}

.book_now:hover {
  color: white;
  text-decoration: none;
}

.book_now {
  display: flex;
  justify-content: center;
  background-color: #204068;
  border: none;
  color: white;
  height: var(--size-40);
  text-transform: uppercase;
  font-family: Georgia, serif;
  letter-spacing: 1px;
  line-height: 38px;
  padding: 0 28px;
  border-radius: 8px;
  font-weight: 500;
  font-size: var(--size-14);
  cursor: pointer;
  display: inline-block;
	text-decoration: none;
	box-shadow: 5px 8px 12px #888888;
  transition: 1s;
}

.book_now:hover {
  transform: scale(1.1);
  text-decoration: none;
}

.booknow {
  /* margin-top: -25px; */
  cursor: pointer;
  transition: 1s;
  /* height: 100px; */
}

/* #rock {
  background-image: url('../img/salt-rock.jpeg');
} */

.glass_button {
  display: flex;
  justify-content: center;
  border: none;
  color: white;
  height: var(--size-100);
  letter-spacing: 1px;
  line-height: 38px;
  padding: 0 28px;
  border-radius: 8px;
  font-weight: 500;
  font-size: var(--size-14);
  cursor: pointer;
  display: inline-block;
	text-decoration: none;
  transition: 1s;
}

.booknow:hover {
  transform: scale(1.1);
}

.booknow::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

/* End of Book Page */

/* Start of Contact Page */
.hr {
  margin-top: 2rem;
}

.contact-section {
  margin-bottom: var(--size-150);
}

.contact {
  justify-content: center;
  text-align: center;
}

.hours {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  margin-left: var(--size-20);
}

/* End of Contact Page */
  
/* Start of Footer */
.footer {
  justify-content: center;
  display: flex;
	position: relative;
  width: 100%;
  padding: var(--size-20);
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  background-color: #ddd;
  bottom: -13%;
  margin: 0;
  left: 0;
}

.dev-section {
  margin-top: var(--size-20);
}

.developer {
  text-decoration: none;
  color: #C95F1C;
}

.link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.pay {
  margin-top: var(--size-25);
}

.payment {
  height: var(--size-40);
  width: var(--size-40);
}

.gpay {
  height: var(--size-50);
  width: var(--size-50);
}

.arrow {
  width: 70%;
}

#scrollUp {
  background-color: transparent;
  background-image: linear-gradient(
    90deg, #9ccdfe 0%, #94aafd 100%);
  color: white;
  font-size: var(--size-20);
  height: var(--size-30);
  width: var(--size-30);
  line-height: var(--size-30);
  position: fixed;
  bottom: 18px;
  right: var(--size-30);
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  z-index: 100;
}

/* End of Footer */



/* Start of Working Footer being added */

/* footer.bg-footer { background-color: var(--footer); }

footer .footer-bottom { background-color: var(--footer-base); }

footer .footer-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--size-50);
  padding: var(--size-100) 0;
}

footer .footer-col { 
  justify-self: center; 
  max-width: 250px;
}

.footer-top h5 {
  color: var(--white);
  font-weight: 500;
  margin-bottom: var(--size-16);
  font-size: var(--size-16);
}

.contact-info li {
  color: var(--white);
  margin-bottom: var(--size-10);
}

.contact-info li i {
  padding-right: var(--size-10);
}

.social-icons ul li {
  display: inline-block;
  width: 20px;
  height: 30px;
  margin: 13px;
}

.icons {
  width: 30px;
  height: 30px;
  padding-right: var(--size-10);
}

.services-wrapper p { 
  color: #858497;
  line-height: var(--size-20);
 }

.services-wrapper h5 { margin-bottom: 5px; }

.recent-posts {
  display: flex;
  margin-bottom: var(--size-16);
}

.recent-posts .post-img-wrapper {
  width: var(--size-100);
  margin-right: var(--size-10);
}

.post-inner h6 { 
  margin: 0;
  line-height: var(--size-20);
}

.post-inner h6 a {
  color: var(--white);
  font-weight: 600;
  margin-right: -9.375rem;
  font-size: 0.75rem;
  line-height: var(--size-16);
}

.post-inner span {
  color: var(--font-color-light);
  font-size: var(--size-10);
}

.footer-bottom {
  padding: var(--size-16) 0;
}

.footer-bottom-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;

}

.copyright { margin-top: 6px; }

.copyright p { 
  color: var(--font-color-light); 
}

.footer-bottom-links {
  margin-top: var(--size-10);
}

.footer-bottom-links ul li {
  display: inline-block;
  margin-right: var(--size-10);
  color: var(--white);
}

.footer-bottom-links ul li a { color: var(--white); }

.email {
  
} */

/* End of Working Footer being added */




